*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    font-size: 30px;
}

* {
    font-family: Myfont;
    color: #fff;
}

a {
    font-size: 16px;
}

h1 {
    font-size: 160px;
    margin: 20px;
    letter-spacing: 2px;
}

.container {
    margin: 0 auto;
    min-height: 100vh;
}

.header {
    width: 100%;
}

.content {
    width: 100%;
    min-height: 90vh;
}

@font-face {
    font-family: Myfont;
    src: url('./assets/fonts/SourceCodePro-VariableFont_wght.ttf');
}