.about-content {
    display: flex;
    flex-direction: column;
    padding: 50px 200px 20px 200px
}

.about-title {
    text-align: center;
    font-size: 120px;
    margin-bottom: 200px;
}

.about-summary {
    display: flex;
    display: row;
    justify-content: center;
    margin-bottom: 100px;
}

.summary-avatar {
    display: flex;
    flex-direction: column;
    width: 400px;
    font-size: 18px;
}

.summary-avatar>img {
    width: 400px;
    height: 400px;
    border-radius: 200px 200px 0 0;
    opacity: 0.95;
}

.summary-education {
    display: flex;
    display: row;
    background-color: #582474;
    align-items: center;
}

.summary-education>img {
    width: 80px;
    margin: 10px;
}

.summary-content {
    margin-left: 200px;
    width: 900px;
}

.summary-content>h3 {
    font-size: 60px;
    margin-bottom: 10px;
}

.about-skills {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.skill-item {
    display: flex;
    height: 100px;
    border-radius: 0 50px 50px 0;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    animation: grow 2s ease-in-out forwards;
    margin-bottom: 20px;
}

.java {
    background-color: #a8141c;
}

.python {
    background-color: #b86c7c;
}

.react {
    background-color: #68c4bc;
}

.sql {
    background-color: #40b48c;
}

.about-tagcloud {
    display: flex;
    justify-content: center;
    animation: fadeIn 3s;
    margin-bottom: 100px;
}

.about-tagcloud>div {
    width: 800px;
}

.about-steps {
    display: flex;
    justify-content: center;
    width: 100%;
}

.steps-content {
    width: 100%;
    max-width: 1500px;
    height: 800px;
    background-color: #4c7cf0;
    border-radius: 70px;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.each-step {
    display: flex;
    flex-direction: column;
    padding: 100px 0px 0 0;
    width: 600px;
}

.each-step>p {
    font-size: 21px;
    letter-spacing: 1px;
}

@keyframes grow {
    from {
        width: 0%;
    }

    to {
        width: var(--targetWidth);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1600px) {
    .about-content {
        padding: 50px 100px 50px 100px;
    }
    
    .about-title {
        text-align: center;
        font-size: 100px;
        margin-bottom: 100px;
    }

    .summary-content {
        margin-left: 200px;
        width: 900px;
    }
    
    .summary-content>h3 {
        font-size: 45px;
    }

    .summary-content>p {
        font-size: 25px;
    }

    .about-skills {
        margin-bottom: 40px;
    }

    .each-step {
        padding: 50px
    }
}

@media screen and (max-width: 768px) {
    .about-content {
        padding: 10px
    }

    .about-title {
        font-size: 65px;
        margin-bottom: 50px;
    }

    .about-summary {
        margin-bottom: 30px;
    }

    .summary-avatar {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    .summary-avatar>img {
        visibility: hidden;
    }

    .summary-education>img {
        visibility: hidden;
    }

    .summary-content {
        margin: 10px;
    }

    .summary-content>h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .summary-content>p {
        font-size: 14px;
    }

    .about-skills {
        height: 200px;
        margin-bottom: 40px;
    }

    .skill-item {
        height: 50px;
    }

    .about-tagcloud {
        margin-bottom: 20px;
    }

    .about-steps {
        padding: 20px;
    }

    .steps-content {
        height: 100%;
        border-radius: 30px;
    }

    .content-row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .each-step {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }
}