h2 {
    font-size: 200px;
}

.content-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-about {
    margin: 50px;
    width: 900px;
    height: 1600px;
}

.text-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-about > p {
    font-size: 50px;
}

.text-icons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.resume {
    display: flex;
    align-items: center;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
}

.resume > a{
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 75px;
    }

    .banner-about {
        margin: 20px;
        width: 450px;
        height: 600px;
    }

    .text-about > p {
        font-size: 30px;
    }
}